# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.DS_Store

# WeChat DevTools
.miniprogram/
project.private.config.json

# Build
dist
*.local

# Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
